* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  outline: none;
}

:root {
  --web-color: rgb(64, 138, 53);
  --web-color-bold: rgb(67, 220, 45);
  --grey: #757575;
}

.language {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.language.active {
  opacity: 1;
  visibility: visible;
}
.language.active .languageContainer {
  transform: scale(1);
  filter: blur(0px);
}
.languageContainer {
  max-width: 650px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  background: #222;
  padding: 60px;
  transform: scale(0);
  filter: blur(10px);
  transition: 0.3s 0.2s;
}
.languageContainer .usefullInput {
  position: absolute;
  z-index: -1;
  opacity: 0;
  left: -100%;
}
.languageContainer h2 {
  font-size: 2em;
  color: #fff;
}
.languageContainer .cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.languageContainer .cards .card {
  position: relative;
  width: 100%;
  padding: 12px 60px;
  border-radius: 15px;
  background: #111;
  border: 3px solid transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  transition: 0.3s;
}
.languageContainer .cards .card .checkIcon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1.3em;
}
.languageContainer .cards .card.active {
  border: 3px solid var(--web-color-bold);
}
.languageContainer .cards .card h4 {
  font-size: 1.3em;
  color: #fff;
}
.languageContainer .cards .card img {
  width: 55px;
}

.clamviaturaSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}
.clamviaturaSection .usefullInput {
  position: absolute;
  opacity: 0;
  left: -100%;
  top: -100%;
}
.clamviaturaSection .clamviatura {
  max-width: 900px;
  width: 100%;
  position: fixed;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background: #060606;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  visibility: hidden;
  transition-duration: 0.5s;
  transition: 0.5s;
}
.clamviaturaSection .clamviatura.active {
  transition: 0.5s;
  visibility: visible;
  bottom: 20px;
}
.clamviaturaSection .clamviatura .column {
  gap: 8px;
}
.clamviaturaSection .clamviatura .column:nth-child(1) {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
}
.clamviaturaSection .clamviatura .column:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(11, 1fr) 2fr;
}
.clamviaturaSection .clamviatura .column:nth-child(3) {
  display: grid;
  grid-template-columns: repeat(10, 1fr) 2fr 1fr;
}
.clamviaturaSection .clamviatura .column:nth-child(4) {
  display: grid;
  grid-template-columns: 1fr 11fr 1fr;
}
.clamviaturaSection .clamviatura .column .row {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #111;
}
.clamviaturaSection .clamviatura .column .row span {
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 1.3em;
  font-weight: bold;
}
.clamviaturaSection .clamviatura .column .row span i {
  font-size: 1.31em;
}
.clamviaturaSection .clamviatura .column .row.active {
  background: var(--web-color-bold);
  box-shadow: 0 0 5px 1px rgba(67, 220, 45, 0.8);
}

.regsection {
  width: 100%;
  height: 100vh;
  background-image: url("http://smarttv.xtream.cloud/assets/images/background.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}
.regsection .container {
  max-width: 1150px;
  width: 100%;
  display: grid;
  grid-column-gap: 80px;
  grid-template-columns: 1.2fr 1fr;
}
.regsection .container .content h2, .regsection .container .content h3, .regsection .container .content p {
  color: var(--grey);
}
.regsection .container .content h2 {
  font-size: 1.8em;
}
.regsection .container .content h3 {
  font-size: 1.7em;
}
.regsection .container .content p {
  font-size: 1.3em;
  font-weight: bold;
}
.regsection .container .content p span {
  color: var(--web-color-bold);
}
.regsection .container .content .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}
.regsection .container .formBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background: rgba(255, 255, 255, 0.03);
  opacity: 0.9;
  border-radius: 15px;
  border: 1px solid #3b3b3c;
  padding: 40px 60px;
}
.regsection .container .formBox .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  width: 100%;
}
.regsection .container .formBox .logo img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.regsection .container .formBox .usefullInput {
  position: absolute;
  z-index: -1;
  opacity: 0;
  left: -100%;
}
.regsection .container .formBox form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.regsection .container .formBox form .inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.regsection .container .formBox form .inputs input {
  padding: 14px 20px;
  border-radius: 5px;
  border: 2px solid var(--grey);
  background: #202020;
  font-size: 1.1em;
  color: #fff;
  transition: 0.5s;
}
.regsection .container .formBox form .inputs input.active {
  border: 2px solid var(--web-color-bold);
}
.regsection .container .formBox form .checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.regsection .container .formBox form .checkbox input {
  display: none;
  visibility: hidden;
}
.regsection .container .formBox form .checkbox .drow {
  display: inline;
  width: 30px;
  height: 30px;
  border: 2px solid var(--grey);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.regsection .container .formBox form .checkbox .drow i {
  font-size: 1em;
  color: var(--grey);
  opacity: 0;
  transform: scale(0);
  transition: 0.3s;
}
.regsection .container .formBox form .checkbox.active .drow {
  border: 2px solid #fff;
}
.regsection .container .formBox form .checkbox.active .drow i {
  color: #fff;
}
.regsection .container .formBox form .checkbox.active span {
  color: #fff;
}
.regsection .container .formBox form .checkbox.checked .drow i {
  opacity: 1;
  transform: scale(1);
}
.regsection .container .formBox form .checkbox span {
  font-size: 1.2em;
  color: var(--grey);
  transition: 0.3s;
}
.regsection .container .formBox form button {
  padding: 14px 20px;
  border: 3px solid transparent;
  background: var(--web-color);
  color: #fff;
  font-size: 1.2em;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.regsection .container .formBox form button.active {
  border: 3px solid var(--web-color-bold);
  transform: scale(1.05);
}
.regsection .container .formBox .languageBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.regsection .container .formBox .languageBtn .btn {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-flow: row nowrap;
  padding: 8px 15px;
  border-radius: 5px;
  border: 3px solid transparent;
  transition: 0.5s;
}
.regsection .container .formBox .languageBtn .btn.active {
  border: 3px solid var(--web-color-bold);
}
.regsection .container .formBox .languageBtn .btn img {
  width: 25px;
  background-size: cover;
}
.regsection .container .formBox .languageBtn .btn span {
  font-size: 1.3em;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .regsection .container {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=login.css.map */